:root {
  /* Figma Colors */
  --C01: #72936E;
  --C02: #84A181;
  --C03: #96AE93;
  --C04: #B9C9B7;
  --C05: #FFFFFF; 
  --C06: #000000;
  
  /* Figma Font Sizes */
  --HEADER: 64px;
  --SUBHEADER: 36px;
  --MENU: 24px;
  --DESCRIPTION: 24px;

  /* Figma Fonts */
  --FONT: Georgia, serif;

  /* Standard Gap between edges and widgets */
  --widget-gap: 2rem;

}

body {
  background-color: var(--C04);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
